# Папка Visual Studio
.vs/

# Папки збірки CMake та Visual Studio
build/
out/
x64/
Debug/
Release/

# Скомпільовані файли
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# Файли користувацьких налаштувань
*.user
*.suo